@media(min-width:600px) {
    .hand-gestures-btn img{
        width:56px;
    }

    .hand-gestures-btn{
        padding:2.3em;
        margin-left:.93em;
    }

    .rock{
        margin-left:0;
    } 

    .game-title{
        font-size:2.5rem;
    }

    .game-section{
        font-size:1.125rem;
        margin-bottom:.8em;
    }
}

@media(min-width:768px){
    .game-title{
        text-align:center;
        margin-left:.5em;
    }

    main{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

@media(min-width:1024px){
    .game-title{
        font-size:3rem;
        margin-left:1.6em;
    }

    .hand-gestures-btn img{
        width:64px;
    }

    .container{
        max-width:900px;
        margin:0 auto;
    }
}

